@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #222224;
    background-image: url("../images/bg-cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;

}

.logo {
    color: #f9a872;
    font-size: 2rem;
    font-weight: bold;
}

nav {
    background-color: #222224;
    height: 4rem;
    color: #ff8838;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul {
    font-size: 1.2rem;
    font-weight: 300;
    display: flex;
    gap: 40px;
    text-decoration: none;
    list-style-type: none; 
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
    color: #ff8838;
}

nav ul li a:hover {
    color: #f9a872;
    text-decoration: underline;
}

.nav-bottom-line {
    height: 0.2rem;
    background: #ff8838;
}

.btn {
    height:60px;
    padding: 10px 60px;
    background: transparent;
    border-color: #fff;
    border-radius: 0.1cm;
    color: #fff;
    margin: 0 2cm;
    text-decoration: none;
}

.btn:hover {
    animation: forwards 0.2s;
    border-color: #ff8838;
    color: #ff8838;
    border-radius: 0.2cm;
    padding: 10px 70px;
}

.heading{
    display: flex;
    justify-content: center;
    gap: 10rem;
    font-size: 1.5rem;
    margin: auto;
    padding: 100px;
    
}

/* .heading-img {
    width: 90%;
    padding: 20px;
    border: white 2px solid;
} */
.heading-img {
    width: 100%;
}

.heading .btn {
    display: block;
    margin: 20px 10px;
}

.heading span {
    display: block;
    margin: 10px 10px;
    font-size: large;
}

.heading-para {
    font-weight: 200;
}

section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}