@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #222224;
    /* background-image: url("../images/bg-cover.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;

}

.logo {
    color: #f9a872;
    font-size: 2rem;
    font-weight: bold;
}

nav {
    background-color: #222224;
    height: 4rem;
    color: #ff8838;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul {
    font-size: 1.2rem;
    font-weight: 300;
    display: flex;
    gap: 40px;
    text-decoration: none;
    list-style-type: none; 
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
    color: #ff8838;
}

nav ul li a:hover {
    color: #f9a872;
    text-decoration: underline;
}

.nav-bottom-line {
    height: 0.2rem;
    background: #ff8838;
}

.btn {
    height:60px;
    padding: 10px 60px;
    background: transparent;
    border-color: #fff;
    border-radius: 0.1cm;
    color: #fff;
    margin: 0 2cm;
    text-decoration: none;
}

.btn:hover {
    animation: forwards 0.2s;
    border-color: #ff8838;
    color: #ff8838;
    border-radius: 0.2cm;
    padding: 10px 70px;
}

.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10rem;
    font-size: 1.5rem;
    margin: auto;
    padding: 100px;
    
}

/* .heading-img {
    width: 90%;
    padding: 20px;
    border: white 2px solid;
} */
.heading-img {
    width: 100%;
}

.heading .btn {
    display: block;
    margin: 20px 10px;
}

.heading span {
    display: block;
    margin: 10px 10px;
    font-size: large;
}

.heading-para {
    font-weight: 200;
}

/* Slider Carousel CSS Section | inCompele */
.carousel {
    height: 80vh;    
}

section {
    display: flex;
}

.section01 {
    width: 100%;
    background-color: #2e2c2b;
}

.section02, .section04 {

    display: flex;
    margin: auto;
    padding: 2rem;
    /* height: 100vh; */
    width: 100%;
    background-color: #fff;
    color: hsl(240, 3%, 14%);
    justify-content: center;
    text-align: center;
    text-wrap: pretty;
}

.section03 {
    height: 100%;
    width: 100%;
    padding: 2rem;
    background-color: #f0f0f0;
    color: hsl(240, 3%, 14%);
    justify-content: center;
    text-align: center;
    text-wrap: pretty;

}

.content{
    display: flex;
    flex-direction: column;
    padding: 0 25%;
    font-size: 1rem;
}

.content p {
    text-wrap: inherit;
    margin: 1rem;
}

/* Seprator class */
.wt-seprator-outer {
    display: flex;
    margin: 0 25%;
    justify-content: center;
    margin-bottom: 4rem;
    height: 3px;
    background: #ff8838;
    border-radius: 50%;
}

.img-cards {
    width: 100%;
    display: flex;
    justify-content: center;
}
.img-card {
    padding: 20px;
    margin: 1rem;
    background: #fff;
    font-weight: bold;
}

.img-card img {
    height: 200px;
}

.sub-section-card div{
    /* display: flex;
    gap: 10px;
    height: 40px;
    width: 300px;
    text-wrap: stable;
    display: flex; */
}

.left-sub-section {
    display: flex;
    flex-direction: column;
}

.content-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 40px;
}

.content-card-header {
    display: flex;
    margin-bottom: 5px;
}

.content-card-header img {
    height: 40px;
}

.content-card-info {
    display: flex;
    text-wrap: stable;
}